<section class="text-white pt-14">
  <div class="gap-8 items-center py-8 px-4 xl:gap-16 md:grid md:grid-cols-2 sm:py-12 lg:px-16">
    <div class="flex justify-center items-center">
      <img
        src="/hero-image.png"
        alt="hero image"
        class="rounded-full border-8 border-black w-full h-auto max-w-[390px] lg:max-w-[400px] sm:max-w-[200px]"
      />
    </div>

    <div class="mt-4 md:mt-0 text-left flex flex-col h-full">
      <h2 class="lg:text-4xl text-2xl font-bold text-white mb-4">About Me</h2>
      <p class="text-black text-base md:text-lg">
        I am a full-stack web developer with a passion for creating web applications. I have experience working with JavaScript, React, Nest.js, Next.js, Java, PostgreSQL, HTML, CSS, and Git. I am a quick learner and am always looking to expand my knowledge and skill set. I am a team player with the patience to teach others and love learning new things.
      </p>

      @for (icon of iconList; track icon.name) {
      <div  class="icon-container flex flex-col items-center px-4 mb-2 sm:px-0 md:px-0">
      <div class="text-center text-black">{{ icon.name }}</div>
      </div>
      }

<!--      add icon ad svg-->
<!--      <img [src]="(icon)" alt="icon" class="w-8 h-8" />-->

    </div>
  </div>
</section>
